<%- include('./partials/header.ejs') %>

<main class="container py-4">

  <h1 class="text-center m-2">La physique quantique pour les nuls</h1>

  <h2 class="text-center m-2">Un quiz pour ceux qui aiment les équations quantiques, les protons et les photons !</h1>

  <h2 class="small text-end">Par John Doe</h2>

  <h2 class="small text-end">Date de création : jeudi 8 décembre 2022</h2>

  <h3>Thèmes</h3>
  <ul class="mb-4 p-0">
    <li class="badge bg-primary">Astrophysique</li>
    <li class="badge bg-primary">Chimie</li>
  </ul>

  <strong>Votre score est : <%= score %> / <%= maxScore %></strong>
  <%=  %>
</main>

<%- include('./partials/footer.ejs') %>
