<%- include("partials/header") %>

<main class="container py-4">

  <h1 class="text-center m-2"><%= quiz.title %></h1>

  <p class="text-center m-2"><%= quiz.description %></p>

  <h2 class="small text-end">Par <%= quiz.author.firstname %> <%= quiz.author.lastname %></h2>

  <h2 class="small text-end">Date de création : <%= quiz.created_at.toLocaleDateString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></h2>


  <!-- On boucle pour afficher tous les thèmes -->
  <h3>Thèmes</h3>
  <ul class="mb-4 p-0">
    <% quiz.tags.forEach(tag => { %>
      <li class="badge bg-primary"><%= tag.name %></li>
    <% }) %>
  </ul>

  <h3>Questions</h3>
  
  <form action="/quiz/<%= quiz.id %>/result" method="post">
    <!-- On boucle pour afficher toutes les question -->

    <% quiz.questions.forEach(question => { %>
      <!-- Le niveau de difficulté -->
      <span class="badge bg-info"> <%= question.level.name %> </span>  
      <!-- La question -->
      <p class="fw-bold mb-1"> <%= question.question %> </p>          
      <div class="mb-3 ms-2">
        
        <!-- Boucle sur les propositions -->
        <% question.propositions.forEach(proposition => { %>
        <div>
          <!-- input id regroupe mes boutons, name lie à la question -->
          <input type="radio" id="<%= proposition.id %>" name="<%= question.id %>" value="<%= proposition.id %>">
          <!-- La proposition de réponse -->
          <label for="<%= proposition.id %>"> <%= proposition.description%> </label>
        </div>
        <% }) %>

      </div>
      <!-- l'anecdote -->
      <p class="fst-italic text-secondary"><%= question.anecdote %></p>
    <% }) %>

    
    <button type="submit" class="d-block mx-auto btn btn-primary mb-4">Envoyer</button>

  </form>

</main>

<%- include("partials/footer") %>
